h1 {
	text-shadow: rgb(150, 243, 255) 1px 0 10px;
    color: rgb(255, 252, 100);
}
h2 {
	text-shadow: rgb(32, 107, 255) 1px 0 10px;
    color: rgb(255, 255, 255);
}
body{
    background-color: rgb(244, 250, 223);
}
h3 lu {
	text-shadow: rgb(252, 165, 233) 1px 0 10px;
    color: rgb(252, 38, 38);
}